:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
}


.body-container {
  display: flex;
  flex-direction: column; 
  align-items: center;               
      background-color: #e6e6e6; 
  padding: 10px;
}

header {
  margin: 20px 0; 
}

img {
  max-width: 100%;
  ;    
  border-radius: 8px; 
}

h1 {
  color:#ef97a4; 
}

p {
  max-width: 600px; 
  color: #ef97a4; 
}
.body::before {
  
  background-color: #ce1f3a; 
 
}
