*{
margin: 0;
padding: 0;
box-sizing: border-box;
}




.body-container{
    background-color: #e6e6e6;
}
:root{

    background-color: #e6e6e6;
     margin: 0;
    padding: 0;
}
    .navbar-container{


        width: 100vw; 
    display: inline-flex; 
    align-items: center; 
    justify-content:space-around ; 
    background-color: #ce1f3a; 
    
    }
    


